.home-page {
    padding: 64px;
}

#home-page {
    height: 100vh;
    width: 100vh;
}


#title {
    font-size: 30px;
    line-height: 50px;
    color: #000000;
    mix-blend-mode: normal;
    margin-bottom: 24px;
}
