.header {
    padding: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #BDBDBD;
    height: 160px;
}

.today-button-container {
    flex: 1;
}

.today-button-container > .today-button {
    background: #C5CAE9;
    color: white;
    border-radius: 25px;
    padding: 8px 18px;
}

.view-selector-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.title-teacher, .title-student {
    font-size: 24px;
    padding-left: 12px;
}

.edit-button {
    margin-left: 16px;
}
