#subjects {
    display: flex;
    flex-direction: column;
    padding: 64px;
}

#title-subjects {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 0.25px;

    /* Black — High Emphasis */

    color: rgba(0, 0, 0, 0.87);
    mix-blend-mode: normal;;
}

#notseleted-header {
    display: flex;
    flex-direction: row;
}

#selected-header {
    display: flex;
    flex-direction: row;
    background: #303F9F;
    font-size: 16px;
    color: #FAFAFA;
    padding: 13px;
}

.row-selected {
    background: rgba(48, 63, 159, 0.4);
}

#add-button {
    background: #FF9800;
    color: #FAFAFA;
    position: fixed;
    right: 32px;
    bottom: 32px;
}

#add-dialog-form {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.add.field {
    margin-bottom: 36px !important;
}

.field {
    width: 364px;
}
