#login-page {
    height: 100vh;
    width: 100vw;
    background: url('https://images.unsplash.com/photo-1498612753354-772a30629934?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
}

#login-column {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Hide the background image when the screen is too small */
@media only screen and (max-width: 1024px) {
    #login-column {
        width: 60%;
    }
}

@media only screen and (max-width: 812px) {
    #login-column {
        width: 100%;
    }
}

.spacer {
    flex: 1;
}

#login-column {
    background: #FAFAFA;
    padding: 64px;
}

#title {
    font-size: 48px;
    line-height: 56px;
    color: #303F9F;
    mix-blend-mode: normal;
}

#tagline {
    font-size: 24px;
    line-height: 28px;

    color: #757575;
    mix-blend-mode: normal;
}

#forgotten-password {
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: normal;
}

#footer {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.6);
}

#footer a {
    color: inherit;
}

#login-button{
    background: #3F51B5;
    color: white;
    margin-right: 16px;
}

#controls {
    margin-top: 16px;
    display: flex;
    align-items: center;
}
